// COLORS
$color-primary-1: hsl(172, 67%, 45%);

$color-neutral-1: hsl(183, 100%, 15%);
$color-neutral-2: hsl(186, 14%, 43%);
$color-neutral-3: hsl(184, 14%, 56%);
$color-neutral-4: hsl(185, 41%, 84%);
$color-neutral-5: hsl(180, 50%, 98%);
$color-neutral-6: hsl(0, 0%, 100%);

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: "Space Mono", monospace;
	font-size: 62.5%;
}

body {
	font-size: 2.4rem;
	background-color: $color-neutral-4;
}

// UTILITY //
.mb-m {
	margin-bottom: 3.2rem;
}

header {
	margin: 12.6rem auto;

	h1 {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 8px;
		color: $color-neutral-1;
		font-size: 2.4rem;

		display: flex;
		flex-direction: column;
	}
}

main {
	max-width: 90rem;
	margin: 0 auto;
	background-color: $color-neutral-6;
	padding: 3.2rem;
	border-radius: 2.4rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	display: flex;
	gap: 3.2rem;
}

.box-calculations {
	flex-basis: 50%;
}

label {
	color: $color-neutral-2;
	font-size: 1.8rem;
}

.input-wrapper {
	position: relative;

	&::after,
	&::before {
		content: "";
		display: block;
		position: absolute;
		height: 2.4rem;
		width: 2.4rem;
	}

	&::after {
		left: 1.2rem;
		top: 2rem;
		background-image: url(../images/icon-dollar.svg);
		background-repeat: no-repeat no-repeat;
	}
}

.input-wrapper:last-of-type {
	&::after {
		left: 1.2rem;
		top: 5.6rem;
		background-image: url(../images/icon-person.svg);
		background-repeat: no-repeat no-repeat;
	}
}

// APPLIES FOR ALL
input {
	&:hover,
	&:focus {
		outline: none;
		border: 2px solid $color-primary-1;
	}
}

// APPLIES FOR ALL WITHOUT INPUT IN BTN-WRAPPER
.input {
	display: block;
	width: 100%;
	padding: 0.8rem;
	padding-right: 1.2rem;
	background-color: $color-neutral-5;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	color: $color-neutral-1;
	font-size: 2.4rem;
	font-family: inherit;
	text-align: right;
	transition: all 0.2s ease;
	border: 2px solid transparent;
}

.input::placeholder {
	text-align: right;
	font-family: inherit;
	font-size: 2.4rem;
	color: #9ebbbd;
}

// Chrome
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*  Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-ms-appearance: none;
	appearance: none;
}

/*  Edge */
input::-ms-clear,
input::-ms-reveal {
	display: none;
}

.btn-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
	gap: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 3.2rem;
}

.btn-wrapper input,
.btn {
	font-family: inherit;
	background-color: $color-neutral-1;
	border-radius: 0.5rem;
	border: none;
	padding: 1rem 2.4rem;
	color: $color-neutral-5;
	font-size: inherit;
	transition: all 0.2s ease;
}

.btn:hover {
	cursor: pointer;
	background-color: $color-primary-1;
	color: $color-neutral-1;
}

.btn--clicked {
	background-color: $color-primary-1;
	color: $color-neutral-1;
}

.btn-wrapper input {
	background-color: $color-neutral-5;
	color: $color-neutral-1;
	padding: 0;
	text-align: center;
	transition: all 0.2s ease;
	border: 2px solid transparent;

	&:hover {
		border: 2px solid $color-primary-1;
	}

	&::placeholder {
		font-size: inherit;
		color: $color-neutral-2;
	}
}

.box-results {
	background-color: $color-neutral-1;
	flex-basis: 50%;
	border-radius: 1.2rem;
	padding: 3.2rem;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}

	.tip {
		color: $color-neutral-5;
		font-size: 2rem;
	}

	.person {
		color: $color-neutral-3;
		font-size: 1.4rem;
	}

	.tip-amount {
		color: $color-primary-1;
		font-size: 4.4rem;
	}
}

////////////////////////////////
/// BELOW 600 PX
////////////////////////////////
@media only screen and (max-width: 37.5em) {
	header {
		margin: 4.8rem auto;
	}

	main {
		flex-direction: column;
		margin: 3.2rem;
	}

	.btn-wrapper {
		display: grid;
		grid-template-columns: repeat(2, minmax(11rem, 1fr));
		gap: 1.2rem;
		margin-top: 1rem;
		margin-bottom: 3.2rem;
	}
}
